header {
    border-bottom: 2px solid black;

}
header p {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}
main {
    padding: 15px;
}
body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238)
    ;
}
footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}