body{
    display: flex;
    
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}
li {
    display: flex;
    
}


