/* 
btn- color : #786eff 
bg color: #f6f8f9
*/

html{
    font-family: Helvetica, serif;
}

.container {
    background-color: #f6f8f9;
    border-radius: 10px;
    width: 1100px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
}
.content{
    display: inline-block;
    width: 60%;
    margin-bottom: 80px;
    margin-top: 60px;
}
.img{
    display: inline-block;
    width: 30%;
    vertical-align: bottom;
}
.above-header{
    font-size: 12px;
    letter-spacing: 1;
}
h1{
    font-size: 33px;
}
.desc {
    font-size: 18px;
    width: 60%;
    margin-bottom: 30px;
    letter-spacing: 5;
    line-height: 1.8;
    color: #79828b;
}
.btn {
    padding: 10px 18px;
    border-radius: 3px;
    font-size: 18px;
}
.btn.contact {
    background-color: #786eff;
    color: #fff;
    border:1px solid #786eff;
    margin-right: 10px;
}
.btn.learn-more {
    background-color: #fff;
    border: 0.5px solid black;
}
